:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
  .table td, .table th {
    vertical-align: middle;
  }
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #dadada;
  --color-secondary: #fdf9f3;
  --bg: #131313;
  --bg-secondary: #071521;
  --border-color: rgba(255, 255, 255, 0.3) !important;

  a {
    color: #41b38a;
    cursor: pointer;
    &:hover{
      color: #dadada;
    }
  }


  .frown, .users{
    color: #41b38a;
  }
  .download{
    color: rgb(42, 102, 158);
  }

  .data-table-sorting-icons {
    display: none !important;
  }
  .ui.table thead th {
    background: #131313;
    color: #dadada;

  }
  .data-table-table .action-column, .data-table-table .column {
    background: #131313;
    color: #dadada;
  }
  .table {
    border: none;
    background: #343434;
    color: #bcbcbc;
  }

  .ui.card, .ui.cards>.card {
    border: none;
    background: #343434;
    color: #bcbcbc;
    box-shadow: none;
    .content span{
      color: #dadada;
    }

  }
  .ui.segment {

    background: #131313;
    color: #bcbcbc;
    box-shadow: none;
    .content span{
      color: #dadada;
    }
  }
  .chatdark{
    border: 1px solid rgba(218, 218, 218, 0.3) !important;
  }


  .statsHeader{
    color: #dadada !important;
  }
  .ui.table {
    border: none;
    background: #343434;
    color: #bcbcbc;
  }

  .table td, .table th{
    border-top: 1px solid #dee2e61c;
  }
  thead{
    border: none !important;
  }
   input,select,option {
     color: #dadada !important;
     background-color: #343434 !important;
     border: 1px solid #343434 !important;
     background : #343434 !important;
  }

  .btn-primary,.page-item.active .page-link {
    color: #dadada;
    background-color: #21ba4500;
    border-color: #21ba45;
    &:hover{
      background-color: rgba(255, 255, 255, 0.3) !important;
    }
  }
  li > span{
    &:hover{
      color:  #21ba45 !important;
    }
  }

  .page-link{
    color: #dadada;
    background-color: #343434;
    border-color: #21ba45;
    &:hover{
      background-color: rgba(255, 255, 255, 0.3) !important;
    }
  }

  .page-item.disabled .page-link {
    color: #dadada !important;
    background-color: #343434 !important;
    border-color: #21ba45 !important;
    &:hover{
      background-color: rgba(255, 255, 255, 0.3) !important;
    }
  }
  .userTop{
    .content{
      background: #131313;
    }
  }

  .ui.table td.positive, .ui.table tr.positive {
    background: #003828db!important;
    color: #dadada!important;

  }

  .ui.table td.negative, .ui.table tr.negative {
    background: #bb3b3ba6!important;
    color: #dadada!important;

  }


  @media screen and (max-width: 767px) {
   .ui.table  {
      background: #343434;
      color: #dadada;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
     }
   }

  .table tr{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: #343434 !important;
  }

  .ui.inverted.menu {
    border-bottom: 1px solid #ffffff0f;
    margin-bottom: -1px;
  }

  tr {
    &:hover {
      color: #dadada !important;
      background-color: rgba(255, 255, 255, 0.3) !important;
    }
  }

  .list_item {
    span{
      color: #ffffff;
      text-shadow: 2px 2px 4px #000000;
    }
  }

 }

 body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
   Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-color: var(--bg);
   color: var(--color);
   transition: background-color 0.3s;
 }

 a {
   color: #41b38a;
   cursor: pointer;
   &:hover{
     color: #4a92c7;
   }
 }
 .main-menu {
   border-radius: 0px !important;
   /*font-size: 0.9rem !important;*/
  height: 1px !important;
}
.grid_main{
  padding-top: 20px !important;
}

.data-table-per-page {
  right: 0;
  grid-area: search !important;
  position: absolute!important;
}

.data-table {
  position: relative!important;
  grid-template-areas:
            "perPage search search search"
            "table table table table"
            "info pagination pagination pagination" !important;
}

.data-table-search-filter {
   grid-area: perPage !important;
   margin-left: 0 !important;
}

.data-table-export-data{
  display: none !important;
}
